body {
    font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,



/* 네비게이션 영역 */
.nav-link:hover,
.nav-link.active {
    color: #0c8d21 !important;
}


/* 헤더 영역 */
header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(home_image.jpg);
    background-size: auto;
    background-position: center top;
    background-attachment: fixed;
}



